<!--Card-->
<div class="card overlay z-depth-1-half mb-3">

    <!--Card image-->
    <div class="view overlay">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(75).jpg" class="card-img-top" alt="">
        <a href="#">
            <div class="mask rgba-white-slight"></div>
        </a>
    </div>
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>
<!--/.Card-->