<!--Card-->
<div class="card overlay z-depth-1-half mb-3" style="max-height: 420px; min-height: 420px;">

    <!--Card image-->
    <div class="view overlay " style="max-height: 160px;">

        <div class="w3-display-container w3-content w3-wide" style="max-width:1600px;" id="home">
            <img class="w3-image" src="{{ productDef['image'] }}" alt="Hamburger Catering" width="1600" height="800">
            <div class="w3-display-topleft w3-padding-large w3-opacity">
                <h1 class="w3-xxlarge">Atrevido</h1>
            </div>
        </div>
    </div>
    <!--Card content-->
    <div class="card-body">
        <!--Title-->
        <div class="">
            <h4 class="card-title">{{ productDef['name'] }}</h4>
        </div>
        <!--Text-->
        <div style="min-height: 120px;max-height: 120px; overflow:scroll;">
            <p class="card-text align-middle">{{ productDef['description'] }}
            </p>
        </div>
        <hr>
        <div class="">
            <a href="#" class="btn btn-primary ">{{ productDef['price'] }}</a>
        </div>
    </div>
</div>
<!--/.Card-->