<!--Main layout-->
<main class="mt-1">
    <!--Separator from the nav-bar-->
    <div class="mt-5 mb-5" style="width: 100%; height: 10%;">
    </div>

    <app-intro></app-intro>

    <div class="container mt-5 mb-3 pl-0 pr-0 overlay z-depth-1-half" style="width: 100%; height: 10%;background-color: rgb(141, 219, 209) ; opacity: 0.8;">
        <nav class="navbar ">
            <h3>{{ productListName }}</h3>
        </nav>
    </div>
    <app-productlist></app-productlist>
</main>
<!--Main layout-->