<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <!--Navbar  <nav class="navbar navbar-expand-lg navbar-dark indigo overlay z-depth-1-half">-->


    <!-- Additional container -->
    <div class="container-sm ">


        <nav class="navbar fixed-top navbar-expand-xm navbar-dark font-small indigo overlay z-depth-1-half ">

            <!-- Navbar brand -->
            <!-- <a class="navbar-brand dropdown-toggle  font-small" type="button" data-toggle="collapse" data-target="#basicExampleNav" href="#" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">{{shopName}}</a> -->

            <div class="dropdown">
                <a class="navbar-brand dropdown-toggle font-small" type="button" data-toggle="dropdown" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation" style="color: floralwhite;"> {{shopName}} </a>
                <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{shopName}}
                </button> -->
                <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> -->
                <div class="dropdown-menu " id="basicExampleNav">
                    <a (click)="optionSelected(menu.title)" *ngFor="let menu of menuMain" class="dropdown-item mb-0" href="#">
                        <div class="row">
                            <div class="col-3">
                                <svg class="flaticon" style="margin-bottom: 0px;">
                                        <use [attr.xlink:href]="menu.icono"></use>
                                     </svg>
                            </div>
                            <div class="col-9">
                                <p class="pl-1 font-bold pt-1" style="opacity: 1.0;">{{ menu.title }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <!-- <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/users/1.jpg" alt="user" class="profile-pic" /></a> -->
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i></a>
                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="../assets/images/users/1.jpg" alt="user"></div>
                                    <div class="u-text">
                                        <h4>Profile</h4>
                                        <p class="text-muted">varun@gmail.com</p><a href="pages-profile.html" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
                            <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                            <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- Language -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="flag-icon flag-icon-us"></i>
                    </a>
                    <div class="dropdown-menu  dropdown-menu-right animated bounceInDown">
                        <a class="dropdown-item" href="#">
                            <i class="flag-icon flag-icon-in"></i> Indian
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="flag-icon flag-icon-fr"></i> French
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="flag-icon flag-icon-cn"></i> China
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="flag-icon flag-icon-de"></i> Dutch
                        </a>
                    </div>
                </li>

                <!-- ============================================================== -->
                <!-- Messages -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
                        <ul>
                            <li>
                                <div class="drop-title">{{ ShoppingCart }}</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="user-img"> <img src="../assets/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Additional container -->

    <!--/.Navbar-->
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->